body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  border-radius: 20px;
  font-size: 25px;
}
*{
  font-family: 'Poppins', sans-serif;
}
.heading{
  border-radius: 10px;
  letter-spacing: 20px;
}
.emoji span{
  font-size: 30px;
}
.well{
  border: dashed;
  border-color: green;
  border-width: 5px;
  border-radius: 20px;
  padding: 20px;
}
::-webkit-scrollbar{
  visibility: hidden;
}